include ../titles/title.pug
include ../cards/product-card
include ./slider-art.pug

-
  var courseData = [
    {
      img: img_artwork[9],
      title: 'Instant Kendo UI Mobile',
      rating: 5,
      price: 50,
      desc: 'Filled with practical, step-by-step instructions and clear explanations for the most important and useful tasks.'
    },
    {
      img: img_artwork[5],
      title: 'Joy of Cooking',
      rating: 4,
      price: 10,
      desc: 'The famously irreverent chef also offers playful riffs on classics, reimagining tuna-and-rice bowls.'
    },
    {
      img: img_artwork[3],
      title: 'Face the Music: A Life Exposed',
      rating: 5,
      price: 50,
      desc: 'Face the Music is the shocking inspirational story of one of rock’s most enduring icons.'
    },
    {
      img: img_artwork[4],
      title: 'Metaverse For Beginners',
      rating: 3,
      price: 25,
      desc: 'When people talk about the future, they usually mean virtual reality.'
    },
    {
      img: img_artwork[8],
      title: 'Practical Ethics in Sport Management',
      rating: 5,
      price: 50,
      desc: 'Leaders and managers throughout the sporting world face many ethical challenges on a daily basis.'
    },
    {
      img: img_artwork[2],
      title: 'Economic Geography: Past, Present and Future',
      rating: 5,
      price: 40,
      desc: 'The impact of economic geography both within the field of geography.'
    }
  ]

.root
  .container.carousel-header
    +title-main("left", $t.education_landing.popular_title, $t.education_landing.popular_desc, "secondary")
    |
    |
    a.btn-flat.waves-effect.primary-text.view-all(href=link.education.product)
      | #{$t.common.btn_seeall}
      i.material-icons.icon arrow_forward
    |
    |
  .container
    .floating-artwork
      +slider-art('course')
        .wow.fadeInRightShort(data-wow-offset="60" data-wow-delay="0.3s" data-wow-duration="0.5s")
          |
          |
          img.img-2d3d(
            src=img_assets+img_artwork[36]
            data-2d=img_assets+img_artwork[35]
            data-3d=img_assets+img_artwork[36]
            class="img-2d3d"
            alt='popular course'
          )/
          |
          |
  .slider-wrap
    .carousel
      .slick-carousel#course_carousel(data-length=courseData.length)
        .props.item-props-first
          div
        each item in courseData
          .item
            +product-card(item.rating, item.price, item.img, item.title, item.desc, 'round', portrait, link.education.productDetail)
      |
      |
      button.btn-floating.nav.prev.waves-effect#prev_project(type="button")
        |
        |
        i.ion-ios-arrow-back
        |
        |
      |
      |
      button.btn-floating.nav.next.waves-effect#next_project(type="button")
        |
        |
        i.ion-ios-arrow-forward
        |
        |
      |
      |
