include ../titles/title
.form-style
  .container.inner-wrap.max-md
    .full-form-wrap
      +title-main('center', $t.common.contact_title2, 'Vestibulum faucibus eget erat eget pretium. Donec commodo convallis eget suscipit orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'primary')
      .form
        form#contact_form
          .row.spacing6
            .col-sm-6.px-6
              .input-field.dark.primary
                |
                |
                input.validate#name(type='text' required)/
                |
                |
                label(for='name') #{$t.common.form_name}
                |
                |
            .col-sm-6.px-6
              .input-field.dark.primary
                |
                |
                input.validate#email(type='email' required)/
                |
                |
                label(for='email') #{$t.common.form_email}
                |
                |
            .col-sm-6.px-6
              .input-field.dark.primary
                |
                |
                input#phone(type='tel')/
                |
                |
                label(for='phone') #{$t.common.form_phone}
                |
                |
            .col-sm-6.px-6
              .input-field.dark.primary
                |
                |
                input#company(type='text')/
                |
                |
                label(for='company') #{$t.common.form_company}
                |
                |
            .col-sm-12.px-6
              .input-field.dark.primary
                |
                |
                textarea#message.materialize-textarea(rows="6")
                |
                |
                label(for='message') #{$t.common.form_message}
                |
                |
          .btn-area.flex
            .form-control-label
              |
              |
              label
                input.filled-in.primary(type='checkbox' required)/
                span #{$t.common.form_terms}
              |
              |
              br/
              a(href='#') #{$t.common.form_privacy}
              |
              |
            |
            |
            .my-8.my-sm-0
              button.btn.btn-large.waves-effect.primary(type="submit") #{$t.common.form_send}
            |
            |
