include ../titles/title.pug
.root
  .container.max-md
    +title-main("center", $t.education_landing.feature_title, $t.education_landing.feature_desc, "primary")
    .row.spacing8.grid
      .col-sm-6.px-6.py-3
        .counter-item
          figure
            |
            |
            img.img-2d3d(
              src=img_assets+img_artwork[28]
              data-2d=img_assets+img_artwork[27]
              data-3d=img_assets+img_artwork[28]
              class="img-2d3d"
              alt='feature'
            )/
            |
            |
          .text
            h4.use-text-title
              |
              |
              | +
              span.numscroller(
                data-min="0"
                data-max="100"
                data-delay="5"
                data-increment="4"
              ) &nbsp;
              | K
              |
              |
            h6.use-text-subtitle2 #{$t.education_landing.counter_videos}
      .col-sm-6.px-6.py-3
        .counter-item
          figure
            |
            |
            img.img-2d3d(
              src=img_assets+img_artwork[30]
              data-2d=img_assets+img_artwork[29]
              data-3d=img_assets+img_artwork[30]
              class="img-2d3d"
              alt='feature'
            )/
            |
            |
          .text
            h4.use-text-title
              |
              | +
              span.numscroller(
                data-min="0"
                data-max="200"
                data-delay="5"
                data-increment="10"
              ) &nbsp;
              |
              |
            h6.use-text-subtitle2 #{$t.education_landing.counter_mentors}
      .col-sm-6.px-6.py-3
        .counter-item
          figure
            |
            |
            img.img-2d3d(
              src=img_assets+img_artwork[32]
              data-2d=img_assets+img_artwork[31]
              data-3d=img_assets+img_artwork[32]
              class="img-2d3d"
              alt='feature'
            )/
            |
            |
          .text
            h4.use-text-title
              |
              | $
              span.numscroller(
                data-min="0"
                data-max="500"
                data-delay="5"
                data-increment="20"
              ) &nbsp;
              |
              |
            h6.use-text-subtitle2 #{$t.education_landing.counter_save}
      .col-sm-6.px-6.py-3
        .counter-item
          figure
            |
            |
            img.img-2d3d(
              src=img_assets+img_artwork[34]
              data-2d=img_assets+img_artwork[33]
              data-3d=img_assets+img_artwork[34]
              class="img-2d3d"
              alt='feature'
            )/
            |
            |
          .text
            h4.use-text-title Free
            h6.use-text-subtitle2 #{$t.education_landing.counter_free}
